@{
    ViewData["Title"] = "Spanish Words";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Spanish Words!</h1>
    <h3>Learn Spanish words with flashcards, cutomize words list and track your progress with stats!</h3>
</div>
