@model WordViewModel

<div>
    <h1>Words from database</h1>
    <p>Those records are loaded from database.</p>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                    <th scope="col"><p>English</p></th>
                <th scope="col">Spanish</th>
                <th scope="col">Gender</th>
                <th scope="col">Lexical Cat</th>
                <th scope="col">User</th>
            </tr>
        </thead>
        <tbody>
            
                

                @{
                    for (int i = 0; i < Model.Words.Count(); i++)
                    {
                    <tr>
                        <th scope="row">@(i+1)</th>
                        <td><p>@Model.Words[i].English</p></td>
                        <td>@Model.Words[i].Spanish</td>
                        <td>
                            @switch(Model.Words[i].GenderId) {
                                case 1: <p>Feminine</p>
                                    ;
                                    break;
                                case 2:
                                    <p>Masculine</p>
                                    ;
                                    break;
                                default:
                                    <p>N/A</p>
                                    break;
                            }
                        </td>
                        <td>@Model.Words[i].LexicalId</td> 
                        <td>Luki</td>
                    </tr>
                    }
                    
                }
               
           
        </tbody>
    </table>
</div>
